@page "/"

<h1>Welcome to Dogs!</h1>
<div>
    <div>
        <p>Search for a dog breed:</p>
    </div>
    <div>
        <BlazoredTypeahead SearchMethod="SearchDogs"
                           @bind-Value="_selectedBreed">
            <SelectedTemplate>
                @context
            </SelectedTemplate>
            <ResultTemplate>
                @context
            </ResultTemplate>
        </BlazoredTypeahead>

        @if (_selectedBreed != null)
        {
            <br />
            <p>Selected breed is: @_selectedBreed</p>
        }
    </div>
    <div>
        <button class="btn btn-primary" @onclick="GetDogImage">
            Click me!
        </button>
    </div>

    <div>
        @if (_breedImage != null)
        {
            <img src="@_breedImage" class="img-fluid" alt="@_selectedBreed" />
        }
    </div>
</div>